* {
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
}
.wrapper{
    position:relative;
    width:100%;
    overflow:hidden;
}
.screen{
    position: relative;
    width:100vw;
    height:100vh;
}
.navi{
    position: relative;
    z-index:11;
}

.navi .container .navbar-default {
    background-color:transparent;
    border:none;
    margin-top:16px;
}

.navi .menu .nav a{
    color:#fff;
    font-size:16px;
}
.navi .menu .nav a:link {
    color: #fff;
    font-size: 16px;
}
.navi .menu .nav a:visited {
    color: #fff;
    font-size: 16px;
}
.navi .menu .nav a:hover{
    color:#ccc;
}
.wrapper .show{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    background: -webkit-radial-gradient(center ellipse, #061a33 0%, #000000 100%);
    background: radial-gradient(ellipse at center, #061a33 0%, #000000 100%);
    background-size: 110%;
    background-position: 100% 100%;
    overflow: hidden;
}
.show .avatar{
    margin:200px auto;
    width:130px;
    height:130px;
    border-radius:50%;
    background-image: url('../img/avatar.jpg');
    background-size:100%;
    border:1px solid #555;
}
.show .hello{
    color:#fff;
    position: absolute;
    text-align:center;
    top:360px;
    left:0;
    right:0;
    font-size:56px;
    padding:10px;
    letter-spacing:6px;
}
.show .dot-box li{
    width:5px;
    height:5px;
    border-radius:50%;
    background-color:#fff;
    position:absolute;
    overflow:hidden;
}
.wrapper .about-me{
    position: relative;
    display:flex;
    width:100%;
    padding:70px 0px 60px 80px;
    background-color:#deeede;
    z-index:-2;
}
.about-me .showImg{
    width:240px;
    height:420px;
    flex:1;
}
.about-me .showImg .img{
    width:100%
}
.about-me .right-des{
    padding:0 20px;
    flex:2;
}
.about-me .right-des .des-title{
    margin:30px 0 32px 0;
    position:relative;
}
.about-me .des-title .about {
    font-size:32px;
}

.wrapper .about-me .right-des .des-title::after {
    content: '';
    width:270px;
    height:16px;
    position: absolute;
    left:-8px;
    bottom:-3px;
    background-color:orange;
    opacity:0.9;
    z-index:-1;
    box-shadow:3px 3px 2px 2px #817d70 
}
@media screen and (max-width:747px){
   .wrapper .about-me{
        padding:70px 40px 60px 40px;
    }
    .about-me .showImg{
        flex:0
    }
    .about-me .right-des{
        flex:1;
    }
}
@media screen and (max-width:531px) {
    .about-me .right-des .des-title::after{
        display:none;
    }
}
.info-wrapper .info {
    display: inline-block;
    background: palegreen;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    padding: 0 10px;
    margin: 10px;
}

.info-wrapper .info .iconfont {
    font-size: 18px;
}
.about-me .right-des p{
    font-size:14px;
    color:#222;
    padding:20px 0;
    font-size:16px;
}
.about-me .right-des .info-wrapper{
   position:relative;
   width:100%;
}

.about-me .right-des .recommend {
    padding:10px 0;
}
.about-me .right-des .recommend:nth-of-type(2) {
    padding:0 30px;
}
.about-me .right-des .recommend:nth-of-type(3) {
    padding:10px 60px;
}
.about-me .right-des .recommend:nth-of-type(4) {
    padding: 10px 90px;
}
.wrapper .skill{
    position: relative;
    width:100%;
    padding-top:30px;
    background-color: aliceblue;
    z-index:-1;
}
.skill .ability-title{
    text-align:center;
}
.skill .skill-title{
    display: inline-block;
    position:relative;
}
.skill .can-skill{
    font-size:32px;
}
.skill .skill-title::after {
    content: '';
    height: 16px;
    width:140%;
    position: absolute;
    bottom: 0px;
    left:-34%;
    background-color: orange;
    opacity: 0.9;
    z-index: -1;
    box-shadow: 3px 3px 2px 2px #817d70
}
.skill .skill-wrap{
    position: relative;
}
.skill-wrap .all-skill{
    padding:30px 0 0 80px;
    font-size:16px;
    color:#333;
}

.skill-wrap .all-skill .ability{
    padding:20px;
}
.all-skill .ability .header{
    padding-right:10px;
    display:inline-block;
    text-align:center;
    width:30px;
    height:68px;
    background: #4fc7e6;
    color:#fff;
    line-height:68px;
    font-size:30px;
}
.skill-wrap .show-ability{
    position: absolute;
    right:160px;
    bottom:50px;
}
.show-ability .box-wrapper {
    perspective: 1800px;
}

.show-ability .box {
    width: 140px;
    height: 140px;
    transform-style: preserve-3d;
    animation: animation 8s linear infinite;
}

.show-ability .box .item {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    transform-style: preserve-3d;
    transform-origin: center;
    text-align: center;
    line-height: 200px;
    background: #eee;
}

.show-ability .box .item:nth-of-type(1) {
    /* background: blue; */
    transform: rotateY(0) translateZ(100px);
}

.show-ability .box .item:nth-of-type(2) {
    /* background: pink; */
    transform: rotateY(90deg) translateZ(100px);
}

.show-ability .box .item:nth-of-type(3) {
    /* background: orange; */
    transform: rotateY(180deg) translateZ(100px);
}

.show-ability .box .item:nth-of-type(4) {
    /* background: green; */
    transform: rotateY(-90deg) translateZ(100px);
}

.show-ability .box .item:nth-of-type(5) {
    /* background: deepskyblue; */
    transform: rotateX(90deg) translateZ(100px);
}

.show-ability .box .item:nth-of-type(6) {
    /* background: yellowgreen; */
    transform: rotateX(-90deg) translateZ(100px);
}

.show-ability .box .item .out {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    transition: all 1s;
    color: #f40;
    font-size: 30px;
    font-weight: bolder;
    transform-style: preserve-3d;
    animation: run 8s ease infinite;
}

.show-ability .box .item:nth-of-type(1) .out {
    background: blue;
}

.show-ability .box .item:nth-of-type(2) .out {
    background: pink;
}

.show-ability .box .item:nth-of-type(3) .out {
    background: orange;
}

.show-ability .box .item:nth-of-type(4) .out {
    background: green;
}

.show-ability .box .item:nth-of-type(5) .out {
    background: deepskyblue;
}

.show-ability .box .item:nth-of-type(6) .out {
    background: yellowgreen;
}

@keyframes run {
    0% {
        transform: translateZ(0px);
  
    }

    50% {
        transform: translateZ(50px);

    }

    100% {
        transform: translateZ(0px);

    }
}

@keyframes animation {
    0% {
        transform: rotate3d(0, 0, 0, 0deg);
        /* transform: rotateX(0) */
    }

    50% {
        transform: rotate3d(0, 1, 1, 720deg);
    }

    100% {
        transform: rotate3d(0, 0, 0, 0deg)
    }
}
@media screen and (max-width:1000px){
    .show-ability{
        display: none;
    }
}

.show-project .project-title {
    padding-top:56px;
    text-align:center;
    position:relative;
}
.show-project .pro .pro-icon {
    font-size:36px;
}
.show-project .project-wrapper{
    text-align:center;
    margin-top:20px;
}
.show-project .pro-header{
    display: inline-block;
    width:80%;
    height:50px;
    line-height:50px;
    background-color:#7bf0af;
}
.show-project .pro-header .header-item{
    display: inline-block;
    padding:0 5px;
    margin:0 20px;
    box-sizing: border-box;
    background:#fff;
    height:50px;
    border-top:2px solid #7bf0af;
    border-bottom:2px solid #7bf0af;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}
.show-project .pro-header .active{
    background:#f40;
    color:#fff;
}
.project-wrapper .pro-box{
    display: inline-block;
    width:80%;
    height:300px;
    text-align:left;
}
.project-wrapper .pro-box p{
    padding:30px 60px 0 60px;
    font-size:16px;
    color:#222;
}
.project-wrapper .pro-box .text-right{
    float:right;
    margin-right:80px;
}
.project-wrapper .pro-box .box-item {
    display: none;
}
.project-wrapper .pro-box .active{
    display:block;
}

.contact{
    position: relative;
    margin-top:20px;
    width:100%;
    height:360px;
    color:#fff;
    background:radial-gradient(ellipse at center, #061a33 0%, #000000 100%);
    text-align:center;
}
.contact .contact-title{
    margin-left:80px;
    font-size:50px;
}
.contact .contact-way .contact-item{
    display:inline-block;
    margin:80px 20px;
    font-size:16px;
}

@font-face {
      font-family: "myFirstFamily";
      src: url('./Broken Heart.ttf');
}
.contact .contact-end{
    float:right;
    margin-right:130px;
    font-size:18px;
    font-family: "myFirstFamily";
    text-shadow: 1px 1px 2px rgba(160, 160, 160, 0.8);
}